################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bombyx/v16
/.vs
/Bombyx2/.vs/Bombyx2/v16
/Bombyx2/Bombyx2/obj/Debug
/Bombyx2/Bombyx2/bin
